body {
  color:  #990000;
}
body p {
  color:  white;
}
body img {
  width:  40%;
  display: block;
  margin-left: auto ;
  margin-right: auto;
}
.lucario img {
  width:  20%;
  display: block;
  margin-left: auto ;
  margin-right: auto; 
}
.table table, th, td{
  width: 50%;
  color: #00FFFF;
  border: 1px solid red;
}
.table td{
  text-align: center;
}
.table table{
 display: block;
  margin-left: auto ;
  margin-right: auto; 
}
