body {
  color:  #990000;
}
body p {
  color:  blue;
}
body img {
  width:  40%;
  display: block;
  margin-left: auto ;
  margin-right: auto;
}
.lucario img {
  width:  20%;
  display: block;
  margin-left: auto ;
  margin-right: auto; 
}
